*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

.container{
    height: 100vh;
    margin-top: 140px;
    margin-left: 130px;
    font-size: 30px;
   
}

form{
   border-color: aqua;
    height: 150px;
    width: 50px;
    margin-top: 50px;
}

select{
    background-color: black;
    color: white;
    border-radius: 0%;
}
p{
    color: white;

}

#button1{
    height: 30px;
    width: 150px;

}